@use '../custom' as *;
@use '../components/mixin' as *;

.testimonials {
    position: relative;
    padding: 0;
    @include gradient;

    &__card {
        background-color: rgba($white, .7);
        padding: 2.5rem 1.5rem;
        border-radius: .7rem;
        height: auto;
        text-align: center;

        i {
            font-size: 2rem;
            color: rgba($primary, .8);
        }

        .ratings {

            i {
                font-size: 1.2rem;
                color: rgba($primary, .8);
            }
        }
    }

    &__pic {
        width: 10rem;
        height: 10rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            border: .4rem solid rgba($primary, .8);
        }
    }

    &__name {
        padding-top: 4rem;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 600;
        color: $white;

        h3 {
            padding-top: 1rem;
            text-transform: capitalize;
        }

        p {
            padding-bottom: 3rem;
            text-transform: capitalize;
        }
    }

    .but {
        margin-top: -2.5rem;
    }
}